.nav {
  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    padding: 0 0.5em;

    &--link {
      display: block;
      text-decoration: none;
      color: inherit;
      transition: 0.3s;
      background: #fff;
      

      &:hover {
        border-bottom: 2px solid rgb(46, 13, 99);
      }
    }

    &--icon {
    }

    &--text {
    }
  }
}
